{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}Book Flight{% endblock %}

{% block content %}

<div class="content">

	{% if request.user.is_authenticated %}

		<h3>Book Flight</h3><br>

		{# Flight & Passenger details card #}
		{% if flight %}
			<div class="card mb-3 p-3 shadow-sm" style="max-width: 500px;">
				<p><h5 class="mb-2">Booking Details</h5></p>

				{% if passenger %}
					<p><strong>Passenger:</strong>
						{# adjust to your actual Passenger fields #}
						{{ passenger.formal_name|default:passenger }}
					</p>
				{% endif %}

				<p><strong>Flight:</strong> {{ flight.flight_code }}</p>

				<p>
					<strong>Route:</strong>
					{{ flight.route.origin.city }} ({{ flight.route.origin.iata_code }})
					→
					{{ flight.route.destination.city }} ({{ flight.route.destination.iata_code }})
				</p>

				<p>
					<strong>Departure:</strong>
					{{ flight.departure|date:"Y-m-d" }} at {{ flight.departure|time:"H:i" }}
				</p>

					<form method="post" enctype="multipart/form-data">
						{% csrf_token %}
						{% bootstrap_form form set_placeholder=False %}
						<button type="submit" class="btn btn-secondary">Book this flight</button>
					</form>
			</div>
		{% endif %}
	
	{% else %}
		<div style="width:400px;">
		<p>Please <a href="{% url 'login' %}">log in</a> to book a flight.</p>
		</div>
    {% endif %}

        
    
</div>

{% endblock %}
