{% extends "base.html" %}

{% block title %}TEST{% endblock %}

{% block content %}

<h1>Search a destination</h1>
<p><b>Warning</b>: This website is for testing models for now. It can be unstable.</p>

<p>Here are the flights for</p>

<h2>{{ object.city }} ({{ object.iata_code }})</h2>

<ul>
  {% for route in object.destinations.all %}
    {% for flight in route.flight_set.all %}
      <li>{{ flight.flight_code }}: Departs on {{ flight.departure_date }} at {{ flight.departure_time }} from {{ flight.route.origin }}, and arrives on {{ flight.arrival_date }} at {{ flight.arrival_time }} to {{ flight.route.destination }}</li>
    {% endfor %}
  {% endfor %}
</ul>

{% endblock %}