{% extends 'base.html' %}
{% load bootstrap5 %}

{% block title %} | Passenger Information {% endblock title %}

{% block content %}
	
	<div class="content" style="width:400px;">
		
		<h3> Passenger Information </h3><br>
		<form method="POST" action="">
	        {% csrf_token %} 
			{{ form.media }}
	        {% bootstrap_form form set_placeholder=False%}
	        <button type="submit" class="btn btn-secondary"> Update </button>
	    
		</form>
	</div>
	
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<script>
    const input = document.querySelector("#id_phone"); // Django's default ID
    if (input) {
        window.intlTelInput(input, {
            initialCountry: "ph",
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"
        });
    }
</script>
	
{% endblock %}